h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
}

div {
    margin: 20px auto;
    font-family: Arial, sans-serif;
    width: 60%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
